.navbar-inverse {
  background-color: #337ab7;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.navbar-nav {
  float: right;
}

.navbar-inverse .navbar-nav li a {
  color: #ffffff;
}

body {
  padding-top: 50px;
}

.left-align {
  text-align: left;
}

.below-nav-div {
  padding: 70px 15px;
  text-align: center;
}
